@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: SEGOE UI VARIABLE;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 0.5s all;
    user-select: none;
    scroll-behavior: smooth;
}

body {
    background-color: #111;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: var(--NavbarColor);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--NavbarColor);
    border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--SecColor);
    opacity: 70%;
}


.pattern {
    background: url(./Image/Pattern.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    opacity: 10%;
    transition: all ease 1.5s;
    z-index: -2;
    position: fixed;
}

#bgblur {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100vh;
    opacity: 0;
    backdrop-filter: blur(10px);
}

.context-menu {
    position: relative;
    background: #101010;
    border: 1px solid #222222;
    border-radius: 8px;
    z-index: 100;
    width: 290px;
    display: none;
    animation: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) RightClick;
    height: 460px;
    scale: 95%;
}

@media screen and (max-width: 1500px) {
    .context-menu {
        scale: 88%;
    }
}

@keyframes RightClick {
    0% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

.context-menu ul {
    padding: 0px;
    margin: 0px;
    /* min-width: 150px; */
    width: 275px;
    list-style: none;
    margin-top: 0rem;
}

.ContactMenuContent {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 0.3rem;
}

.context-menu ul li {
    padding-bottom: 10px;
    padding-top: 8px;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    padding-left: 1rem;
    /* border-bottom: solid 1px #222; */
}

.context-menu ul li a {
    text-decoration: none;
    color: #ccc;
}

.context-menu ul li ion-icon {
    font-size: 20px;
    transform: translateY(3px);
    margin-right: 0.7rem;
}

.context-menu ul li:hover {
    background: #1f2020;
    border-radius: 4px;
}

/* #FirstLink:hover {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
} */

.IconsLinks {
    border-top: 1px #222 solid;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.IconslinksContent {
    max-width: 240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 50px;

}

.IconslinksContent a {
    color: #ccc;
    font-size: 22px;
    transform: translateY(2px);
    margin-right: 1rem;
}

.IconslinksContent a:hover {
    color: #ffffe9;
}

#DragArea {
    /* border: solid 2px red; */
    width: 100%;
    position: absolute;
    bottom: 20px;
    height: 60px;
    bottom: 0;
    overflow: hidden;
    z-index: 4;
}

#DragAreaEvents {
    /* border: solid 2px red; */
    width: 100%;
    position: absolute;
    bottom: 20px;
    height: 60px;
    top: 0;
    overflow: hidden;
    z-index: 4;
}

/* Dragable */

/* .DragAbleThemeSelc {
    position: relative;
} */

.DragAbleThemeChildElem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -110%);
    /* background-color: rgba(255, 255, 233, 0.467); */
    height: 60px;
    width: 400px;
}

.DragAbleFlowAreaBack {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -12%);
    /* background-color: rgba(255, 255, 255, 0.674); */
    height: 250px;
    width: 400px;
}

.LeaveDivsFromSlideThemeDiv {
    display: none;
    opacity: 0;
    transform: translateY(-60px);
    /* Styleing ---> */
    color: var(--header-text);
    border: solid 1px var(--header-text);
    border-radius: 4px;
    padding: 0.5rem 1.5rem;
    font-size: 14px;
    width: 130px;
    text-align: center;
    /* Cursor */
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .navbar {
        max-width: 500px !important;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.7s;
    }

    .navbartext h1 {
        opacity: 0;
        visibility: hidden;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    }

    #Text {
        opacity: 0;
        visibility: hidden;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.9s;
    }

    .navbartext img {
        width: 39px;
    }

    .navbarlink span {
        font-size: 29px;
    }
}

.wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    max-width: 50%;
    width: 100%;
    height: 100%;
    max-height: 55%;
    background: #0f0f0f;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.06);
    z-index: 90;
    transition: none;
    display: none;
    border-radius: 8px;
    border: solid 1px #222;
}

.wrapper .HeadSettings {
    font-size: 23px;
    font-weight: 500;
    /* padding: 13px 20px; */
    background-color: #151515;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    position: relative;
}

.HeadSettContent {
    max-width: 97%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    height: 48px;
}

.HeadSettings h1 {
    color: #eee;
    font-size: 18px;
    font-weight: 400;
}

.exitbutton h1 {
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -57%);
    cursor: pointer;
    font-weight: 300;
}

.exitbutton {
    width: 50px;
    height: 48px;
    position: absolute;
    right: -20px;
    border-top-right-radius: 8px;
}

.exitbutton:hover {
    background-color: #c42b1c;
}

.HeadSettings {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.tabs {
    display: flex;
    align-items: center;
    background-color: #151515;
    width: 100%;
}

.tabcontent p {
    color: #fff;
    opacity: 60%;
    font-weight: 300;
}

.tab {
    cursor: pointer;
    height: 40px;
    padding-left: 1.2rem;
    transition: background-color 0.3s;
}

.tab.active {
    display: flex;
    align-items: center;
    background-color: #0f0f0f;
    width: 200px;
    justify-content: space-between;
}


.tab button {
    border: none;
    background: none;
    color: #fff;
    opacity: 60%;
    font-weight: 300;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s;
    transform: translateX(-15px);
}

.tab button:hover {
    color: #333;
}

.add-tab {
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s;
    position: absolute;
    color: #fff;
    right: 0;
    position: absolute;
    transform: translate(-15px,-1px);
}

.tab-content {
    padding: 10px;
}

.iframe {
    width: 100%;
    height: calc(100vh - 55px);
    border: none;
}