:root {
  --border-radius: 3px;
}

:root,
[data-selected-theme="green"] {
  --color-background: #181818;
  --color-text: #b7c58d;
  --color-text-title: #b7c58d;
}

[data-selected-theme="blue"] {
  --color-background: #fdf9f3;
  --color-text: #2B4150;
  /* for light */
  --color-text-title: #fdf9f3;
}

[data-selected-theme="pink"] {
  --color-background: #E8E3DD;
  --color-text: #C0B6AB;
  /* for light */
  --color-text-title: #fff;
}

[data-selected-theme="orange"] {
  --color-background: #1f2020;
  --color-text: #7a5af5;
  --color-text-title: #eee;
}

body {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s all;
}

::selection {
  background-color: var(--color-accent);
}

.theme-switcher {
  display: flex;
  justify-content: center;
  font-size: 1.312rem;
  width: 100%;
  position: fixed;
  bottom: 0;
}

button[data-theme] {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;

  padding: 0.75rem 1.25rem;
  font-size: inherit;
  font-size: clamp(1rem, 5vw, 1.312rem);
  color: var(--color-text);
  border: 2px solid var(--color-text);
}

button[data-theme]+button[data-theme] {
  border-left: none;
}

button[data-theme]:first-of-type {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

button[data-theme]:last-of-type {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

button[data-theme][aria-pressed="true"] {
  background-color: var(--color-text);
  color: var(--color-background);
}

button[data-theme]:is(:hover, :focus) {
  box-shadow: 0 0 0 2px var(--color-text) inset;
}

button[data-theme][aria-pressed="true"]:is(:hover, :focus) {
  box-shadow: 0 0 0 2px var(--color-background) inset;
}