* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
    font-family: Segoe Ui Variable;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

:where(li,a) {
    text-decoration: none;
    list-style: none;
}

nav {
    position: fixed;
    border-bottom: solid 1px #eee;
    width: 100%;
    background-color: #fdfdfd;
    z-index: 3;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    height: 55px;
}

.navbarlinks {
    display: flex;
    align-items: center;
    transform: translateY(1px);
    position: relative;
}

.navbarlinks li {
    margin: 0rem 0.5rem;
}

.navbarlinks li a {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
}

.navbarlinks li a ion-icon {
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #000;
}

.navbartext {
    display: flex;
    align-items: center;
}

.navbartext h1 {
    font-weight: 300;
    -webkit-text-stroke-width: 0.1px;
    margin-left: 0.3rem;
}

.navbartext img {
    width: 38px;
    height: 38px;
    object-fit: cover;
}

.backgroundFOCUSsidbar {
    width: 100%;
    height: 100vh;
    background-color: rgba(6, 6, 6, 0.7);
    backdrop-filter: blur(20px);
    position: fixed;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
}

.icon-bar {
    width: 55px;
    background-color: #0e0e0e;
    border-right: solid 1px #050505;
    position: fixed;
    z-index: 3;
    height: 100vh;
    left: -27px;
    opacity: 0;
  }

.icon-bar:hover {
    left: 0px;
    opacity: 1;
    position: fixed;
}
  
  .icon-bar a {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    padding: 13.75px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    color: #8f8f8f;
    font-size: 24px;
    height: 55px;
  }
  
  .icon-bar a:hover {
    color: #eee;
    background-color: #212121;
  }

  .icon-bar a:focus {
    color: #eee;
    background-color: #212121;
  }
  
  .active {
    background-color: #212121;
  }

  .active ion-icon {
    color: #eee;
  }

.MainToggleSidebarlink {
    position: relative;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.MinToggleCon {
    position: absolute;
}

header {
    background-color: #111111;
    border-bottom: solid 1px #050505;
    height: 650px;
}

.headerImage IMG {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    transform: translateY(70px);
}

.headertext {
    display: block;
}

.headertext img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    transform: translateY(2px);
}

.headertextintrofront {
    display: flex;
    align-items: center;
    margin-bottom: 1.3rem;
}

.headertextcont {
    margin-top: 1rem;
    width: 80%;
    transform: translateX(12px);
}

.headertextcont hr {
    width: 40%;
    border: solid 2px #eee;
    border-radius: 2px;
    margin-bottom: 1.6rem;
}

.headertextcont p {
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
    font-size: 18px;
    line-height: 1.7;
}

.headertextcont p strong {
    background-color: #ffffe9;
    color: #000;
    padding: 0.3rem 0.7rem;
    border-radius: 6px;
    margin: 0px 0.2rem;
    font-family: SFPRO;
    font-size: 15px;
}

.headertext ion-icon {
    transform: translateX(12px);
    font-size: 120px;
    margin-bottom: 1.5rem;
    color: #ccc;
    --ionicon-stroke-width: 20px;
}

.headertext h1 {
    font-weight: 400;
    font-size: 36px;
}

.headertextbtndownload {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 2rem;
}

.headertextbtndownload li a {
    background-color: #ffffe9;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #000;
    font-weight: 400;
    -webkit-text-stroke-width: 0.5px;
    font-size: 14px;
    display: block;
    transition: ease 0.3s all;
}

.headertextbtndownload li a:hover {
    opacity: 85%;
}

.headertextbtndownload li a:active,.headertextbtndownload li a:focus {
    scale: 92%;
    filter: blur(2px);
}

@media (prefers-color-scheme: dark) {
    body {
      color: #eee;
      background: #141414;
    }
  
    body a {
      color: #809fff;
    }
    .navbarlinks li a ion-icon {
        color: #eee;
    }
    nav {
        background-color: #0e0e0e;
        border-bottom: solid 1px #050505;
    }
}