:root {
    --back-color: #283131;
    --primary-color: #C0D6BD;
    --header-back: #0f1313;
    --header-text: #C0D6BD;
  }
  
  body {
    background-color: var(--back-color);
    color: var(--primary-color);
  }
  
  header {
    background-color: var(--header-back);
    color: var(--header-text);
  }
  
  .box img {
    border: 2px solid var(--primary-color);
  }