:root {
    --back-color: #111111;
    --primary-color: #222;
    --header-back: #101010;
    --header-text: #ffffe9;
  }
  
  body {
    background-color: var(--back-color);
    color: var(--primary-color);
  }
  
  header {
    background-color: var(--header-back);
    color: var(--header-text);
  }
  
  .box img {
    border: 2px solid var(--primary-color);
  }