:root {
    --back-color: #0a0f0f;
    --primary-color: #ccc;
    --header-back: #111617;
    --header-text: #FEC7BF;
    /* CEC7BF 3D737F 0b1112 */ 
}
  
  body {
    background-color: var(--back-color);
    color: var(--primary-color);
  }
  
  header {
    background-color: var(--header-back);
    color: var(--header-text);
  }
  
  .box img {
    border: 2px solid var(--primary-color);
  }