:root {
    --back-color: #11120e;
    --primary-color: #3c3f32;
    --header-back: #080808;
    --header-text: #f0e3cc;
  }
  
  body {
    background-color: var(--back-color);
    color: var(--primary-color);
  }
  
  header {
    background-color: var(--header-back);
    color: var(--header-text);
  }
  
  .box img {
    border: 2px solid var(--primary-color);
  }