.searchElement {
    position: fixed;
    z-index: 2;
    background-color: var(--NavbarColor);
    backdrop-filter: blur(50px);
    width: 100%;
    /* top: -140px; */
    bottom: 80px;
    height: 150px;
}

.searchContent {
    max-width: 300px;
    width: 300px;
    margin: 0 auto;
}

.search-content h1 {
    margin-bottom: 1.5rem;
    margin-top: 1.2rem;
    left: 50%;
    color: var(--SecColor);
    font-family: Segoe ui variable;
    font-weight: 400;
    -webkit-text-stroke-width: 1px;
    font-size: 22px;
}

.searchText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.3rem;
}

.searchText h1 {
    font-size: 24px;
    font-family: Segoe ui variable;
    font-weight: 400;
    -webkit-text-stroke-width: 0.5px;
}

.searchText h1 ion-icon {
    font-size: 26px;
    transform: translateY(5px);
    margin-right: 0.5rem;
}

.search-text a {
    font-size: 32px;
    color: var(--SecColor);
}

.search {
    width: 100%;
    position: relative;
    display: flex;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.searchTerm {
    width: 100%;
    margin: 0 auto;
    border: none;
    border-right: none;
    padding: 5px;
    height: 36px;
    /* border-radius: 2px 0 0 2px; */
    outline: none;
    color: var(--colorpureBackGround);
    background: transparent;
    border: solid 1px var(--BorderColor);
    padding-left: 1rem;
}

.searchTerm::placeholder {
    color: var(--SecColor);
    font-family: Segoe ui variable;
    font-weight: 300;
    -webkit-text-stroke-width: 0.6px;
}

.searchTerm:focus {
    color: var(--SecColor);
}

.searchButton {
    width: 50px;
    height: 36px;
    border: solid 1px var(--BorderColor);
    background: var(--colorpureBackGround);
    text-align: center;
    color: var(--Icon-color);
    /* border-radius: 0 2px 2px 0; */
    cursor: pointer;
    font-size: 20px;
}

.searchButton ion-icon {
    color: var(--Icon-color);
}