.headerText h1 {
    font-family: Segoe ui variable;
}

.headerText h2 {
    font-family: Segoe ui variable;
}

.headerText p {
    font-family: Segoe ui variable;
}

.FontLangAsk h1 {
    width: 85%;
}