#CropSetting {
    margin-top: 70rem;
    transition: cubic-bezier(0.33,0,0.1,1)
    1s all;
    position: absolute;
}

.SettingBlurBac {
    width: 100%;
    height: 100vh;
    z-index: 16;
    position: fixed;
    background-color: var(--settingsColor);
    backdrop-filter: blur(10px);
}

.setting {
    z-index: 16;
    position: fixed;
    width: 100%;
}

.setting-content {
    position: fixed;
    z-index: 20;
}

.settingsNav {
    background-color: var(--SettingsSidebar);
    height: 100vh;
    width: 55px;
}

.settingsNavContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.settingsicon {
    margin-top: 1rem;
}

.settingsicon p {
    color: var(--SecColor);
    width: 30px;
    height: 30px;
    position: relative;
    margin-bottom: 1rem;
}

.settingsicon p ion-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 22px;
}

.settingsiconslink {
    position: static;
}

.settingslinksiconContent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 22px;
}

.settingslinksiconContent li a {
    margin-bottom: 0.5rem;
    display: block;
    color: var(--SecColor);
}

.settingsMenuTxt p {
    color: var(--SecColor);
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-left: 3rem;
    font-family: SFPRO;
    line-height: 1.4;
}