* {
    scroll-behavior: smooth;
}

.Menutoggle {
    position: fixed;
    /* top: 0; */
    width: calc(100% - 55px);
    height: 100vh;
    right: 0;
    backdrop-filter: blur(20px);
    bottom: -100rem;
}

.MenuTogText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.MenuTogText p {
    color: var(--SecColor);
    font-family: SFPRO;
    font-size: 20px;
    margin-bottom: 1rem;
}

.MenuTogText button {
    padding: 0.5rem 1rem;
    background-color: var(--button);
    border: none;
    color: var(--button-color);
    border-radius: 20px;
    font-family: 'Cabin Condensed';
    width: 150px;
}

.menuness {
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 57px;
    border-bottom: solid 1px var(--borderfont);
    left: -100rem;
    transition: cubic-bezier(0.1,0.9,0.2,1) 1s all;
}

.MenuNavbarMain {
    background-color: var(--NavbarColor);
    backdrop-filter: blur(50px);
    overflow: auto;
    transition: cubic-bezier(0.33,0,0.1,1) 1.7s all;
    left: -50px;
}

.MenuNavTxt {
    display: flex;
    align-items: center;
    height: 45px;
    max-width: 300px;
    margin: 0 auto;
}

.MenuNavTxt ion-icon {
    color: var(--SecColor);
    font-size: 24px;
}

.MenuNavTxtLinks {
    display: flex;
    align-items: center;
}

.MenuNavTxtLinks li a {
    color: var(--SecColor);
    font-family: segoe ui variable;
    font-weight: 400;
}

.MenuNavTxtLinks li {
    padding: 0.5rem 0.7rem;
}

#Nenulnk {
    margin-left: 0.8rem;
    display: flex;
    align-items: center;
}

#CloseMenuTabs {
    display: none;
}

#CloseMenuBtn {
    display: none;
}

/* OpenTabsCheck default is block display */

#ExitFunctionSettings {
    opacity: 0;
}