:root,
[data-selected-theme="green"] {
  --color-background: #0c0c0c;
  --color-text: #fffbd1;
  --color-accent: #000;
  --SecColor: #fffbd1;
  --NavbarColor: rgba(0, 0, 0, 0.876);
  --BackgroundProces: rgba(0, 0, 0, 0.668);
  /* Button Diferent color check */
  --button: #fffbd1; 
  --button-color: #000; 
    /* search */
    --colorBackGround: #fffbd1;
    --colorpureBackGround: #fffbd1;
    --BorderColor: #fffbd1;
    --Icon-color: #000;
    /* Selecter */
    --Seclecter: #fffbd1;
    --SeclecterColor: #000;
}

[data-selected-theme="blue"] {
  --color-background: #ffffe9;
  --color-text: #fffde6;
  --color-accent: #fffde6;
  --SecColor: #000;
  --NavbarColor: rgba(255, 255, 233, 0.932);
  --BackgroundProces: rgba(255, 255, 255, 0.363);
    /* Button Diferent color check */
  --button: #000; 
  --button-color: #fff; 
  /* search */
  --colorBackGround: #fffde6;
  --colorpureBackGround: #000;
  --BorderColor: #000;
  --Icon-color: #fff;
    /* Selecter */
  --Seclecter: #000;
  --SeclecterColor: #ffffe9;
  --borderfont: #44444454;
}

[data-selected-theme="pink"] {
  --color-background: rgb(247, 255, 246);
  --color-text: #edf8ed;
  --color-accent: #edf8ed;
  --SecColor: #000;
  --NavbarColor: rgba(237, 248, 237, 1);
  --BackgroundProces: rgba(240, 242, 226, 0.248);
    /* Button Diferent color check */
  --button: #000; 
  --button-color: #fff; 
  /* search */
  --colorBackGround: #fffde6;
  --colorpureBackGround: #000;
  --BorderColor: #000;
  --Icon-color: #fff;
    /* Selecter */
  --Seclecter: #000;
  --SeclecterColor: #ffffe9;
}

[data-selected-theme="orange"] {
  --color-background: rgb(255, 255, 255);
  --color-text: #F9F5EF;
  --color-accent: #F9F5EF;
  --SecColor: #000;
  --NavbarColor: #F9F5EF;
  --BackgroundProces: #fffdfb;
    /* Button Diferent color check */
  --button: #000; 
  --button-color: #fff; 
  /* search */
  --colorBackGround: #fffde6;
  --colorpureBackGround: #000;
  --BorderColor: #000;
  --Icon-color: #fff;
    /* Selecter */
  --Seclecter: #000;
  --SeclecterColor: #ffffe9;
}

.menu-link {
  background-color: var(--NavbarColor);
}

/* Theme Swap */

.ThemeElement {
    position: fixed;
    /* bottom: 58px; */
    bottom: -250px;
    background-color: var(--NavbarColor);
    backdrop-filter: blur(50px);
    width: 100%;
    z-index: 2;
    /* opacity: 0; */
}

.ThemeTextElementSpc {
    width: 300px;
    margin: 0 auto;
}

.ThemeTextElementSpc h1 {
    color: var(--SecColor);   
    font-family: segoe ui variable;
    font-weight: 400;
    -webkit-text-stroke-width: 1px;
    font-size: 26px;
    margin-top: 1.4rem;
    margin-bottom: 0.7rem;
}

.ThemeTextElementSpc p {
    color: var(--SecColor);   
    font-family: Segoe Ui Variable;
    font-weight: 300;
    -webkit-text-stroke-width: 0.4px;
    font-size: 14px;
}

.ThemeTextElementSpc h1 ion-icon {
    transform: translateY(3px);
    margin-right: 0.8rem;
}

.theme-switcher {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 2.2rem auto;
  }

.ThemeSelecter-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ThemeSelecter-text a {
  color: var(--SecColor); 
  font-size: 32px;
  transform: translateY(8px);
}
  
  button[data-theme] {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    backdrop-filter: blur(20px);
    padding: 0.6rem 0rem;
    width: 75px;
    color: var(--SecColor);   
    border: 1px solid var(--SecColor);
    font-family: Segoe ui variable;
    font-weight: 300;
    letter-spacing: 0.8px;
    -webkit-text-stroke-width: 1.3px;
    font-size: 16px;
  }
  
  button[data-theme] + button[data-theme] {
    border-left: none;
  }
  
  button[data-theme]:first-of-type {
    border-radius: 4px 0px 0px 4px;
  }
  
  button[data-theme]:last-of-type {
    border-radius: 0px 4px 4px 0px;
  }
  
  button[data-theme][aria-pressed="true"] {
    background-color: var(--Seclecter);
    color: var(--SeclecterColor);
  }
  
  button[data-theme]:is(:hover, :focus) {
    box-shadow: 0 0 0 2px var(--color-text) inset;
  }
